[tool.poetry]
name = "gino_admin"
version = "0.0.1dev05"
description = "Admin Panel for DB with Gino ORM and Sanic (inspired by Flask-Admin)"
authors = ["xnuinside <xnuinside@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/xnuinside/gino_admin"
repository = "https://github.com/xnuinside/gino_admin"

[tool.poetry.dependencies]
python = "^3.7"
sanic-auth = "^0.2.0"
Sanic = "^19.12.2"
gino = "^0.8.7"
Sanic-Jinja2 = "^0.7.5"
passlib = "^1.7.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
