{% extends 'base.html' %}
{% block title %}{{model}}{% endblock %}

{% block body %}
<div class="ui breadcrumb">
  <a class="section" href="{{url_prefix}}">Admin</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="{{url_prefix}}/{{model}}">{{model.capitalize()}}</a>
  <i class="right angle icon divider"></i>
  <div class="active section">{% if add %} Add {{model.capitalize()}} {% else %}
    Edit {{model.capitalize()}} {% endif %}</div>
</div>
<br><br>
<form class="ui form" action="{{url}}" method="post">
{% for column, data in columns.items() %}
  <div class="field">
    <label>{{column}}
      {% if data['len'] %}
        <span style="font-weight: normal;">(max length: {{ data['len'] }})</span>
      {% endif %}
    </label>
    <input type="text" name="{{column}}" placeholder="{{column if add else obj.get(column)}}"
           value="{{'' if add else '' if column == 'password' else obj.get(column)}}">
  </div>
  {% endfor %}
  <button class="ui button" type="submit">Submit</button>
</form>
{% endblock %}