<!-- table for model view -->
<table id="models_table" class="ui green padded compact sortable celled table">
    <!-- header row -->
    <thead class="full-width">
        <tr>{% for column_name  in columns %}
            <th class="two wide">{{column_name}}</th>
            {% endfor %}
            <th class="one wide"></th>
        </tr>
    </thead>

    <!-- body with data rows -->
    <tbody>
    {% for row in model_data %}
        <tr class="full-width">
            <!-- columns with data -->

            {% set loop_index=loop.index-1 %}
            {% for key, field in row.items() %}
                <td class="three wide">{% if field is number | float %}
                    {{field|round(round_number)}}
                    {% else %} {{field}} {% endif %}</td>
            {% endfor %}

            <!-- column controls(edit, delete and etc.) -->
            <td class="one wide">
                {% include 'table_control_items.html' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

