<!-- table for model view -->

{% for cat, msg in get_flashed_messages(with_categories=true) %}
      <div class="ui {{ cat }} message"><p>{{ msg }}</p></div>
      {% endfor %}
<table id="table_id" class="ui green padded compact sortable celled definition table">
    <!-- header row -->
    <thead class="full-width">
        <tr>{% for column_name  in columns %}
            <th class="two wide">{{column_name}}</th>
            {% endfor %}
            <th class="one wide"></th>
        </tr>
    </thead>

    <!-- body with data rows -->
    <tbody>
    {% for row in model_data %}
        <tr class="full-width">
            <!-- columns with data -->
            {% for key, field in row.items() %}
                <td class="two wide">{{field}}</td>
            {% endfor %}

            <!-- column controls(edit, delete and etc.) -->
            <td class="two wide">
                {% include 'table_control_items.html' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>