<div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
          Sanic-Gino Admin Panel
        </a>
        {% for key in objects %}
          {% if loop.index <= 4 %}
      <a href="{{url_prefix}}/{{key.lower()}}" class="item">{{key}}</a>
          {% else %}

          {% endif %}
   {% endfor %}
          {% if objects.items() | length > 4 %}
          <div class="ui simple dropdown item">
          More Models <i class="dropdown icon"></i>
          <div class="menu">
              {% for key in objects %}
              {% if loop.index > 4 %}
            <a href="{{url_prefix}}/{{key.lower()}}" class="item">{{key}}</a>
              {% endif %}
              {% endfor %}
          </div>

          </div>
        {% endif %}
      </div>
    <div class="ui green inverted menu">
          <a href="{{url_prefix}}/sql_run" class="item"><i class="play icon"></i> SQL-runner</a>
    </div>
    <div class="ui inverted menu">

    </div>
     <div class="ui simple dropdown item">
          <i class="cogs icon"></i><i class="angle down icon"></i>
          <div class="menu">
               <a href="{{url_prefix}}/presets" class="item">DB Presets</a>
               <a href="{{url_prefix}}/db_drop" class="item">DB Drop</a>
               <a href="{{url_prefix}}/settings" class="item">Settings</a>
          </div>

     </div>

    <div class="right menu">
          {% if '_auth' in session %}
            <a href="{{url_prefix}}/logout" class="header item">Logout</a>
          {% else %}
             <a href="{{url_prefix}}/login" class="header item">Log in</a>
          {% endif %}
    </div>
      </div>
    </div>
