{% extends 'base.html' %}
{% block title %}DB Drop{% endblock %}
{% block body %}
{% for cat, msg in get_flashed_messages(with_categories=true) %}
    <div class="ui {{ cat }} message"><p>{{ msg }}</p></div>
{% endfor %}

<div id="header_grid" class="ui grid">
    <div class="ui ten wide column">
<h1>DB Drop</h1><br>

        <p> <h3>Data in DB: </h3><br>
<table id="db_data" class="ui {{cfg.ui.colors.table_alert}} padded compact sortable celled table">

    <!-- body with data rows -->
    <thead>
    <th>Table</th>
    <th>Rows</th>
    </thead>
    <tbody>

    {% for model, rows in data.items() %}
        <tr class="full-width">
            <!-- columns with data -->

                <td class="one wide">{{model.capitalize()}}</td>
                <td class="one wide">{{rows}}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

        <div class="six wide columns align center content">

        <h3>Do you wanna Drop all Data in DB & Init it form scratch?</h3>
<br>

    <button id="delete_all" class="ui left floated small {{cfg.ui.colors.buttons_alert}} labeled icon button" type="button">
    <i class="database icon"></i>Delete all data from DB & Init DB</button></div>
    </div>
</div>
{% set model = 'DB Data' %}
{% set modal_url = 'init_db' %}
{% include 'modals/delete_modal.html' %}

{% endblock %}
