{% extends 'base.html' %}

{% block title %}{{model}}}{% endblock %}
{% block body %}
<h1>{{model}}</h1>

{% include 'file_upload.html' %}
{% include 'data_table.html' %}

<!-- delete modal -->
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="trash icon"></i> Delete all {{model}}
  </div>
  <div class="content">
    <p>Are you sure, that you want to delete all {{model}}?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>No
    </div><br>
        <form action="{{url_prefix}}/{{model.lower()}}/delete_all/" method="post">
        <button id='delete' class="ui red ok inverted button" type='submit'>
            <i class="checkmark icon"></i> Yes</button>
        </form>
  </div>
</div>
<!-- end of modal -->

    <button id="delete_all" class="ui right floated small grey labeled icon button" type="button">
    <i class="trash icon"></i>Delete all {{model}}</button>

    <button id="add" class="ui right floated small primary labeled icon button" type="button">
        <i class="user icon"></i>
        <a style="color:#fff;" href="{{url_prefix}}/{{model.lower()}}/add">Add {{model}}</a>
    </button>


<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
$(function(){
	$("#delete_all").click(function(){
		$(".ui.basic.modal").modal('show');
	});
	$(".ui.basic.modal").modal({
		closable: true
	});
});
document.getElementById('buttonid').addEventListener('click', openDialog);

</script>

{% endblock %}