<div class="ui simple dropdown item">
       <i class="ellipsis vertical icon"></i>
          <div class="menu" style="margin-top: -10px;">
        <a href="{{url_prefix}}/{{model.lower()}}/edit?id={{row[unique]}}" class="item">
            <i class="pencil icon"></i> Edit
        </a>

        <a href="javascript:;" class="item" onclick="document.getElementById('copy_{{row[unique]}}').submit();">
           <i class="copy icon"></i>  Copy
        </a>
        <a class="item deepcopy_href"  id="deepcopy" data-id="{{row[unique]}}" data-type="{{columns[unique]['type']}}">
            <i class="clone icon"></i> Deepcopy
        </a>
         <a href="javascript:;" class="item" onclick="document.getElementById('delete_{{row[unique]}}').submit();">
             <i class="trash icon"></i> Delete
         </a>

<form id="delete_{{row[unique]}}" action="{{url_prefix}}/{{model.lower()}}/delete/" method="post" >
    {% set current_row=model_data[loop_index]%}
    {% for field, value in current_row.items() %}
    <input type="hidden" name="{{field}}" value="{{value}}">
    {% endfor %}
</form>
<form id="copy_{{row[unique]}}" action="{{url_prefix}}/{{model.lower()}}/copy/" method="post" >
    <input type="hidden" name="{{unique}}" value="{{row[unique]}}">
</form>
    </div>
          </div>